# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
logs.txt

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Build output
dist/
build/
.cache/

# Test results & coverage reports
coverage/
test-results/

# Temporary files
*.swp
*.bak
